.item-gold {
  display: flex;
  align-items: center;
  background: #171717;
  padding: 0 0 2px 2px;
  border-radius: 3px;
}

#gold-death-wrapper {
  display: none;
}

#gold-death-wrapper.visible {
  display: block;
}

#gold-death {
  font-weight: bold;
}

#inventory .gold-wrapper {
  align-self: end;
  flex-grow: 1;
  margin-bottom: 6px;
  margin-left: 2px;
  max-width: 120px;
}

#stash .gold-wrapper {
  padding: 0 11px 8px;
}

#trade .gold-wrapper {
  padding-top: 6px;
}

#stash .item-gold {
  max-width: 50%;
}

.gold-icon {
  margin-right: 6px;
}

#inventory.trade .panel-spaced-row div:not(:last-child),
#inventory.merchant .panel-spaced-row div:not(:last-child) {
  display: none;
}

.gold-amount {
  margin-top: 10px;
  color: #eed058;
}

.gold-amount.none {
  color: red;
}

@media screen and (min-width: 1501px) {
  .item-gold .gold-icon {
    width: 32px;
    height: 32px;
    background-image: url("../img/2/item-gold3.png");
    background-position-y: -2px;
  }

  #inventory .gold-wrapper {
    max-width: 168px;
  }
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
  .item-gold .gold-icon {
    width: 16px;
    height: 16px;
    background-image: url("../img/1/item-gold3.png");
    background-position-y: 0px;
  }

  .gold-icon {
    margin-right: 4px;
  }
}
