.store-wrapper {
  font-family: "GraphicPixel";
}

.item-wrapper {
  align-self: center;
  width: 33.33%;
  padding: 0 10px;
}
.item-wrapper-large {
  width: 66.66%;
}
.item-wrapper-full {
  width: 100%;
}

#store .btn {
  line-height: 0.85;
}

#store .btn small {
  font-size: 0.75em;
}
.item-icon {
  border-radius: 4px;
  border: solid 2px #928f8c;
  background: #171717;
  display: inline-block;
  padding: 3px;
  background-color: inherit;
  position: relative;
}

.scrollupgradesacred,
.scrollupgradelegendary,
.petegg,
.scrollupgradeblessed,
.scrollupgradehigh,
.scrollupgrademedium,
.cape,
.cape7 {
  height: 100%;
}

#store-item-list,
#store-item-purchase {
  display: none;
}

#store-item-list.active,
#store-item-purchase.active {
  display: flex;
}

#store-item-purchase {
  justify-content: space-between;
}

#qrcode {
  background: #fff;
  position: relative;
  padding: 5px;
}

#qrcode > canvas {
  left: 5px;
}

#store .store-wrapper input {
  height: auto;
  font-size: 14px;
  padding: 5px;
  -moz-animation: none;
  -webkit-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
  color: #333;
  margin-top: 0;
}

.nano-account {
  word-break: break-all;
  user-select: all;
}

.note {
  color: #555;
}

.note-high-resolution {
  display: block;
}
.note-low-resolution {
  display: none;
}

.item-wrapper .name,
.item-wrapper .description {
  line-height: 1;
}

.or-line {
  width: 80%;
  text-align: center;
  border-bottom: 2px solid #777;
  line-height: 0.1em;
  margin: 6px auto;
  font-size: 0.75rem;
}

.or-line span {
  color: #777;
  background: #dbd8c4;
  padding: 0 10px;
}

.panel-notice {
  position: absolute;
  bottom: 20px;
  font-size: 11px;
  left: 0;
  right: 0;
}

.cape {
  background-image: url(../img/3/item-cape.png);
}

.cape7 {
  background-image: url(../img/3/item-cape7.png);
}

@media screen and (min-width: 1501px) {
  .store-wrapper {
    margin: -20px 20px 0;
  }

  .item-icon {
    width: 69px;
    height: 69px;
  }

  #store-item-list,
  #store-item-purchase {
    height: 360px;
  }

  .scrollupgradesacred,
  .scrollupgradelegendary,
  .petegg,
  .scrollupgradeblessed,
  .scrollupgradehigh,
  .scrollupgrademedium,
  .cape,
  .cape7 {
    background-position: 0px -5px;
    background-repeat: no-repeat;
    background-size: 440px;
  }

  .scrollupgradesacred {
    background-image: url(../img/3/item-scrollupgradesacred.png);
  }

  .scrollupgradelegendary {
    background-image: url(../img/3/item-scrollupgradelegendary.png);
  }

  .petegg {
    background-image: url(../img/3/item-petegg.png);
  }

  .scrollupgradeblessed {
    background-image: url(../img/3/item-scrollupgradeblessed.png);
  }

  .scrollupgradehigh {
    background-image: url(../img/3/item-scrollupgradehigh.png);
  }

  .scrollupgrademedium {
    background-image: url(../img/3/item-scrollupgrademedium.png);
  }

  #store .expansion1 {
    width: 69px;
    height: 69px;
    background-image: url("../img/3/waypoint.png");
  }

  #store .expansion2 .unlocked .voucher {
    width: 69px;
    height: 69px;
    background-image: url("../img/3/expansion2voucher.png");
  }

  #store .expansion1.locked,
  #store .expansion2.locked {
    background-position-x: -138px;
  }

  #store .expansion1.unlocked,
  #store .expansion2.unlocked {
    background-position-x: -69px;
  }

  #qrcode {
    height: 130px;
    width: 130px;
    margin: 10px auto;
  }

  .item-wrapper .title {
    font-size: 30px;
  }

  .item-wrapper .name {
    font-size: 25px;
  }

  .item-wrapper .description {
    font-size: 20px;
  }

  .item-wrapper .prices {
    font-size: 18px;
  }

  .nano-account {
    font-size: 18px;
  }

  .note {
    font-size: 16px;
  }

  .panel-notice {
    bottom: 40px;
  }

  #store-account-button {
    margin: 16px 0;
  }
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
  #store h1 {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  #store-item-list,
  #store-item-purchase {
    height: 240px;
  }

  .store-wrapper {
    margin: -10px 10px 0;
  }
  .item-icon {
    width: 46px;
    height: 46px;
  }

  .scrollupgradesacred,
  .scrollupgradelegendary,
  .petegg,
  .scrollupgradeblessed,
  .scrollupgradehigh,
  .scrollupgrademedium,
  .cape,
  .cape7 {
    background-position: 0px -3px !important;
    background-size: auto !important;
  }

  .scrollupgradesacred {
    background-image: url(../img/3/item-scrollupgradesacred.png);
  }

  .scrollupgradelegendary {
    background-image: url(../img/3/item-scrollupgradelegendary.png);
  }

  .petegg {
    background-image: url(../img/3/item-petegg.png);
  }

  .scrollupgradeblessed {
    background-image: url(../img/3/item-scrollupgradeblessed.png);
  }

  .scrollupgradehigh {
    background-image: url(../img/3/item-scrollupgradehigh.png);
  }

  .scrollupgrademedium {
    background-image: url(../img/3/item-scrollupgrademedium.png);
  }

  #store .expansion1 {
    width: 46px;
    height: 46px;
    background-image: url("../img/2/waypoint.png");
    margin: 0 auto;
  }

  #store .expansion2 .voucher {
    width: 46px;
    height: 46px;
    background-image: url("../img/2/expansion2voucher.png");
  }

  #store .expansion1.locked {
    background-position-x: -46px;
  }
  #store .expansion2.locked {
    width: 46px;
    height: 46px;
    background-image: url("../img/2/expansion2voucher.png");
  }

  #store .expansion1.unlocked {
    background-position-x: -46px;
  }
  #store .expansion2.unlocked {
    width: 46px;
    height: 46px;
    background-image: url("../img/2/expansion2voucher.png");
  }

  #qrcode {
    height: 130px;
    width: 130px;
    margin: 10px auto;
  }

  .item-wrapper .title {
    font-size: 22px;
  }

  .item-wrapper .name {
    font-size: 17px;
    padding-bottom: 0;
  }

  .item-wrapper .description {
    font-size: 14px;
  }

  .item-wrapper .prices {
    font-size: 15px;
  }

  .nano-account {
    font-size: 12px;
  }

  .note {
    font-size: 12px;
  }

  .panel-notice {
    bottom: 20px;
  }

  #store-account-button {
    margin: 12px 0;
  }
}

@media screen and (max-width: 1000px) {
  #store h1 {
    display: none;
  }

  .store-wrapper {
    margin: 20px 10px 0;
  }

  .store-wrapper p {
    line-height: 1;
  }

  #store-item-list .description {
    display: none;
  }

  .item-icon {
    width: 23px;
    height: 23px;
  }

  .scrollupgradesacred,
  .scrollupgradelegendary,
  .petegg,
  .scrollupgradeblessed,
  .scrollupgradehigh,
  .scrollupgrademedium,
  .cape,
  .cape7 {
    background-size: 160px !important;
  }

  #store-item-list,
  #store-item-purchase {
    height: 120px;
  }

  #qrcode {
    display: none;
  }

  #store .expansion1,
  #store .expansion2 {
    width: 23px;
    height: 23px;
    background-image: url("../img/1/waypoint.png");
    transform: scale(1.3);
  }

  #store .expansion1.locked,
  #store .expansion2.locked {
    background-position-x: -46px;
  }

  #store .expansion1.unlocked,
  #store .expansion2.unlocked {
    background-position-x: -23px;
  }

  .item-wrapper .title {
    font-size: 15px;
  }

  .item-wrapper .name {
    font-size: 13px;
  }

  .item-wrapper .description {
    font-size: 10px;
  }

  .item-wrapper .prices {
    font-size: 15px;
  }

  .nano-account {
    font-size: 12px;
  }

  .note {
    font-size: 10px;
  }

  .store-wrapper .btn {
    font-size: 12px;
    padding: 6px 22px;
    margin-top: 6px;
  }

  .note-high-resolution {
    display: none;
  }

  .note-low-resolution {
    display: block;
  }

  .panel-notice {
    bottom: 20px;
    font-size: 9px;
  }

  #store-account-button {
    margin: 12px 0;
  }

  .hide-on-mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #store h1 {
    display: none;
  }

  .store-wrapper {
    margin: 20px 5px 0;
  }

  .panel-notice {
    font-size: 10px;
  }

  .store-wrapper .prices .usd {
    display: none;
  }

  .item-wrapper.item-name-scrollupgrademedium {
    display: none;
  }

  .hide-on-mobile {
    display: none;
  }

  .nano-account {
    font-size: 11px;
  }

  .panel-notice {
    bottom: 10px;
  }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
}

@media screen and (max-width: 640px) and (orientation: portrait) {
}
